<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Bektinet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

<h2>Welcome to Bektinet</h2>

<h4>Fill out the form to gain access to guest Wi-Fi.</h4>

<form action="/register" method="POST">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email"><br>
  <p>Type the numbers you see in the picture below:</p>
  <p><img id=image src="/captcha/{{.CaptchaId}}.png" alt="Captcha image"></p>
  <input type="hidden" name="captchaId" value="{{.CaptchaId}}">
  <input type="text" name="captchaSolution">
  <p>By clicking below to register, you are agreeing to our <a href="/terms">Terms of Use</a>.</p>
  <input type="submit" value="Accept and Continue">
</form> 

</body>
</html>
